<config>
  <type name="Magento\Deploy\Model\Deploy\LocaleQuickDeploy">
   <plugin name="StaticContentDeployRedisBugReproducer1" type="Magento\StaticContentDeployRedisBugReproducer\Plugin\LocaleQuickDeployPlugin" sortOrder="1" />
  </type>
    <type name="Magento\Deploy\Model\Deploy\LocaleDeploy">
        <plugin name="StaticContentDeployRedisBugReproducer2" type="Magento\StaticContentDeployRedisBugReproducer\Plugin\LocaleDeployPlugin" sortOrder="1" />
    </type>
  <type name="Magento\Deploy\Model\DeployManager">
   <plugin name="StaticContentDeployRedisBugReproducer3" type="Magento\StaticContentDeployRedisBugReproducer\Plugin\DeployManagerPlugin" sortOrder="1" />
  </type>

</config>
